#conteinerFormulario {
    * {
        display: block;
        margin-bottom: 5px;
    }

    button {
        background-color: blue;
        color: white;
        font-size: 100%;
    }

    input {
        width: 50%;
    }
}

#resultado {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}