  
@font-face {
    font-family: "decora";
    src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: "padro";
    src: url(../fonts/FjallaOne-Regular.ttf);
}

$fonte-decora: "decora";
$fonte-padro: "padro";