@charset "UTF-8";
/**
  * No Sass, as variáveis
  * iniciam com $
  */
@font-face {
  font-family: "decorativa";
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "padrao";
  src: url(../fonts/Lato-Regular.ttf);
}
body {
  margin: 0;
}

#header {
  background-color: #1ba39c;
  padding: 10px 20px;
  margin-bottom: 10px;
}
#header * {
  display: inline;
  vertical-align: middle;
}
#header img {
  width: 70px;
  margin-right: 20px;
}
#header h1 {
  font-family: "decorativa";
  color: white;
  text-shadow: 2px 2px #555555;
}

#formularioContato {
  padding: 10px;
  border: 1px solid #1ba39c;
  width: 95%;
  margin: auto;
}
#formularioContato label,
#formularioContato input {
  display: block;
  font-family: "padrao";
}
#formularioContato input {
  margin-bottom: 10px;
  height: 20px;
  font-size: 100%;
  /* Daqui pra baixo é opcional */
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
}
#formularioContato input[type=text] {
  width: 300px;
}
#formularioContato input[type=tel] {
  width: 140px;
}
#formularioContato input[type=email] {
  width: 200px;
}
#formularioContato input[type=submit] {
  padding: 10px 20px;
  /* Anula a altura padrão */
  height: inherit;
  background-color: #019875;
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #555555;
}

#tabelaContatos {
  margin-top: 20px;
}
#tabelaContatos table {
  border-collapse: collapse;
  margin: 0px auto 50px auto;
  width: 95%;
  font-family: "padrao";
}
#tabelaContatos table thead {
  background-color: #1ba39c;
  color: white;
}
#tabelaContatos table tr:hover td {
  background-color: #eeeeee;
}
#tabelaContatos table tr:nth-child(even) {
  background-color: #d7f2ec;
}
#tabelaContatos table tr td {
  font-size: 90%;
}
#tabelaContatos table tr th {
  text-shadow: 1px 1px 1px #555555;
}
#tabelaContatos table tr th,
#tabelaContatos table tr td {
  text-align: center;
  padding: 5px 0px;
  /*
      Regra específica para a
      primeira coluna
   */
  /*
      Regra específica para a
      última coluna
   */
}
#tabelaContatos table tr th:first-child,
#tabelaContatos table tr td:first-child {
  text-align: left;
  padding-left: 5px;
}
#tabelaContatos table tr th:last-child,
#tabelaContatos table tr td:last-child {
  text-align: right;
  padding-right: 5px;
}
#tabelaContatos span {
  margin-left: 30px;
  font-family: "padrao";
}

#cardsContatos {
  display: none;
  padding: 5px 0px;
  margin-top: 20px;
}
#cardsContatos div {
  border: 1px solid #1ba39c;
  box-shadow: 2px 2px #1ba39c;
  margin: 0px auto 10px auto;
  width: 90%;
  border-radius: 5px;
  padding: 10px 7px 7px 7px;
}
#cardsContatos div span {
  font-family: "padrao";
  font-size: 80%;
  display: block;
  text-indent: 42px;
  /*
      Deixando a inicial e o
      restante do nome na mesma
      linha.
  */
}
#cardsContatos div span:first-child, #cardsContatos div span:nth-child(2) {
  text-indent: 0px;
  display: inline-block;
  font-size: 100%;
  margin-bottom: -5px;
}
#cardsContatos div span:first-child {
  background-color: #019875;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  margin-right: 3px;
}
#cardsContatos span {
  display: block;
  text-align: center;
  font-family: "padrao";
}

/*
    Campo de filtro
*/
#filtro {
  margin: 30px auto 0px auto;
  display: block;
  border-radius: 20px;
  width: 50%;
  height: 35px;
  border: 1px solid #cccccc;
  outline: none;
  text-indent: 20px;
  font-size: 90%;
}
#filtro:hover {
  border: none;
  box-shadow: 1px 1px 5px #dddddd, -1px -1px 3px #dddddd;
}

@media only screen and (max-width: 600px) {
  #cardsContatos {
    display: block;
  }

  #tabelaContatos {
    display: none;
  }

  #formularioContato {
    width: 88%;
  }
  #formularioContato input[type=text] {
    width: 250px;
  }

  #filtro {
    width: 85%;
  }
}

/*# sourceMappingURL=estilos.css.map */
