@import 'cores';
@import 'fontes';

body {
    margin: 0;
}

#header {
    background-color: $cor-header;
    padding: 10px 20px;
    margin-bottom: 10px;

    * {
        display: inline;
        vertical-align: middle;
    }

    img {
        width: 70px;
        margin-right: 20px;
    }

    h1 {
        font-family: $fonte-decorativa;
        color: white;
        // Opcional
        text-shadow: 2px 2px #555555;
    }
}

#formularioContato {

    padding: 10px;
    border: 1px solid $cor-borda;
    // Ajuste a largura ao seu gosto!
    width: 95%;
    margin: auto;

    label,
    input {
        display: block;
        font-family: $fonte-padrao;
    }

    input {
        margin-bottom: 10px;
        height: 20px;
        font-size: 100%;
        /* Daqui pra baixo é opcional */
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        padding-left: 5px;

        &[type=text] {
            width: 300px;
        }

        &[type=tel] {
            width: 140px;
        }

        &[type=email] {
            width: 200px;
        }

        &[type=submit] {
            padding: 10px 20px;
            /* Anula a altura padrão */
            height: inherit;
            background-color: $cor-botao-primario;
            color: white;
            border: none;
            text-shadow: 1px 1px 1px #555555;
        }
    }
}

#tabelaContatos {
    margin-top: 20px;

    table {
        border-collapse: collapse;
        margin: 0px auto 50px auto;
        width: 95%;
        font-family: $fonte-padrao;

        thead {
            background-color: $cor-header;
            color: white;
        }

        tr {

            &:hover {
                td {
                    background-color: #eeeeee;
                }
            }

            // Atinge apenas as linhas pares
            &:nth-child(even) {
                background-color: $cor-sombras;
            }

            td {
                font-size: 90%;
            }

            th {
                text-shadow: 1px 1px 1px #555555;
            }

            th,
            td {
                // Regra geral
                text-align: center;
                padding: 5px 0px;
                //border: 1px solid $cor-borda;

                /*
                    Regra específica para a
                    primeira coluna
                 */
                &:first-child {
                    text-align: left;
                    padding-left: 5px;
                }

                //&:nth-child()

                /*
                    Regra específica para a
                    última coluna
                 */
                &:last-child {
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }
    }

    span {
        margin-left: 30px;
        font-family: $fonte-padrao;
    }
}

// Estilização dos cards

#cardsContatos {

    display: none;
    padding: 5px 0px;
    margin-top: 20px;

    // Cada div representa um card
    div {
        border: 1px solid $cor-borda;
        box-shadow: 2px 2px $cor-borda;
        margin: 0px auto 10px auto;
        width: 90%;
        border-radius: 5px;
        padding: 10px 7px 7px 7px;

        span {
            font-family: $fonte-padrao;
            font-size: 80%;
            display: block;
            text-indent: 42px;

            /*
                Deixando a inicial e o
                restante do nome na mesma
                linha.
            */
            &:first-child,
            &:nth-child(2) {
                text-indent: 0px;
                display: inline-block;
                font-size: 100%;
                margin-bottom: -5px;
            }

            // Inicial do nome
            &:first-child {
                background-color: $cor-botao-primario;
                color: white;
                padding: 10px 15px;
                border-radius: 50%;
                margin-right: 3px;
            }
        }
    }

    span {
        display: block;
        text-align: center;
        font-family: $fonte-padrao;
    }
}


/*
    Campo de filtro
*/

#filtro {
    margin: 30px auto 0px auto;
    display: block;
    border-radius: 20px;
    width: 50%;
    height: 35px;
    border: 1px solid #cccccc;
    outline: none;
    text-indent: 20px;
    //text-align: center;
    font-size: 90%;

    &:hover {
        border: none;
        box-shadow: 1px 1px 5px #dddddd,
            -1px -1px 3px #dddddd;
    }
}

@media only screen and (max-width: 600px) {

    #cardsContatos {
        display: block;
    }

    #tabelaContatos {
        display: none;
    }

    #formularioContato {

        width: 88%;

        input[type=text] {
            width: 250px;
        }
    }

    #filtro {
        width: 85%;
    }
}