@font-face {
    font-family: "decorativa";
    src: url(../fonts/pacifico-regular.ttf);
}

@font-face {
    font-family: "padrao";
    src: url(../fonts/Raleway-Regular.ttf);
}

$fonte-decorativa: "decorativa";
$fonte-padrao: "padrao";